<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/interior-voca.xsl" title="HTML" extension="html"?>

<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 

<document xmlns:ouc="http://omniupdate.com/XSL/Variables">

	<headcode></headcode> <!-- before closing head tag -->
	<bodycode></bodycode> <!-- after opening body tag -->
	<footcode></footcode> <!-- before closing body tag -->
	<ouc:info><tcf>interior.tcf</tcf><tmpl>interior.tmpl</tmpl></ouc:info>

	<ouc:properties label="metadata">
		<title>Voca.js xsl</title>
		<meta name="Description" content="" />
		<meta name="Keywords" content="" />
	</ouc:properties>

	<ouc:properties label="config">
		<!-- 		<parameter group="Everyone" type="filechooser" name="banner-src" dependency="yes" section="Page Options" prompt="Banner Background Image" alt="Choose an image to use for the banner.">https://via.placeholder.com/1800x200</parameter>
<parameter group="Everyone" type="text" name="banner-text" prompt="Banner Text" alt="Write a text for the banner.">Interior 2 Column</parameter> -->
		<parameter group="Everyone" type="text" name="heading" prompt="Page Heading" alt="Please enter the page heading.">Voca.js xsl</parameter>
		<parameter group="Everyone" type="text" name="breadcrumb" prompt="Breadcrumb" alt="Please enter the breadcrumb text. This is not used on index pages.">Voca.js xsl</parameter>
		<parameter group="Everyone" type="text" name="side-heading" prompt="Side Nav Heading" alt="Please enter the side navigation heading.">Voca.js xsl</parameter>
	</ouc:properties>

	<ouc:properties label="layout">
		<parameter group="Everyone" type="select" name="banner-content" section="Page Options" prompt="Banner Content" alt="Select banner type.">
<option value="slider" selected="false">Slider</option>
<option value="video" selected="false">Video</option>
<option value="none" selected="true">None</option>
</parameter>
		<parameter name="show-heading"  type="checkbox" group="Everyone" prompt="Page Heading" alt="">
<option value="yes" selected="false">Show</option>
</parameter>
		<parameter group="Everyone" type="checkbox" name="sidebar" prompt="Sidebar Elements" alt="Turn on/off sidebar elements to customize the layout. When all elements are turned off, the page will have a 1-column layout.">
<option value="side-navigation" selected="false">Side Navigation</option>
<option value="side-content" selected="false">Content Below Navigation</option>
</parameter>
	</ouc:properties>

	<ouc:properties label="meta-tags">
		<parameter section="Social Meta Tags" name="override-og-type" type="text" group="Everyone" prompt="Og Type" alt="Please enter the open graph type.">OG Type</parameter>
		<parameter name="override-og-image" type="filechooser" group="Everyone" prompt="Og Image" alt="Please choose the open graph image." dependency="yes">https://i.picsum.photos/id/580/200/300.jpg</parameter>
		<parameter name="override-og-image-alt" type="text" group="Everyone" prompt="Og Image Alt" alt="Please enter the open graph image alt text.">Alt Override Text</parameter>
		<parameter name="override-og-description" type="textarea" group="Everyone" prompt="Og Description" alt="Please enter the open graph description." rows="7">This is the open graph description override.</parameter>
		<parameter name="override-twitter-card-description" type="text" group="Everyone" prompt="Twitter Card Description" alt="Please enter the twitter card description. This description will trimmed at 200 characters per Twitter Documentation. This image size needs to be below 5MB in size per Twitter Documentation.">This is the open graph twitter card description</parameter>
		<parameter name="override-twitter-card-image" type="filechooser" group="Everyone" prompt="Twitter Card Image" alt="Please choose the twitter card image. " dependency="yes">https://i.picsum.photos/id/580/200/300.jpg</parameter>
		<parameter name="override-twitter-card-image-alt" type="text" group="Everyone" prompt="Twitter Card Image Alt" alt="Please enter the twitter card image alt text. This alt text will be trimmed at a length of 420 characters per Twitter Documentation.">Twitter Alt Override Text</parameter>
		<parameter name="override-twitter-card-type" type="select" group="Everyone" prompt="Twitter Card Type" alt="Please choose the twitter card type.">
<option value="summary" selected="false">Summary</option>
<option value="summary_large_image" selected="true">Summary Large Image</option>
</parameter>
	</ouc:properties>
	
	<ouc:div label="slider" group="Everyone" button-text="Insert Slider" break="yes"><ouc:editor wysiwyg="gallery" csspath="/_resources/ou/editor/wysiwyg.css" cssmenu="/_resources/ou/editor/styles.txt" parag="no" wysiwyg-class="main-content"/>{{a:254095}}</ouc:div>	

	<ouc:div label="video" group="Everyone" button-text="Edit Video" break="yes"><ouc:editor csspath="/_resources/ou/editor/wysiwyg.css" cssmenu="/_resources/ou/editor/styles.txt" parag="no" wysiwyg-class="main-content"/>
		<table class="ou-" data-snippet="ou-banner-video"><caption class="mceNonEditable">Video</caption>
			<thead>
				<tr>
					<th class="mceNonEditable">Video MP4 Link</th>
					<th class="mceNonEditable">Video Still</th>
					<th class="mceNonEditable">Overlay Title</th>
					<th class="mceNonEditable">Overlay Subtitle</th>
					<th class="mceNonEditable">Call to Action</th>
				</tr>
			</thead>
			<tbody>
				<tr data-name="data">
					<td data-name="video" data-type="link"><video width="300" height="150" controls="controls">
						<source src="/_resources/images/video.mov" /></video></td>
					<td data-name="image" data-type="image"><img class="" src="/_resources/images/video-still.png" alt="Graduation" width="1823" height="927" /></td>
					<td data-name="title" data-type="text">Title</td>
					<td data-name="subtitle" data-type="text">Subtitle</td>
					<td data-name="cta" data-type="link"><a href="#">CTA</a></td>
				</tr>
			</tbody>
		</table></ouc:div>




	<ouc:div label="maincontent" group="Everyone" button-text="Main Content"><ouc:editor csspath="/_resources/ou/editor/wysiwyg.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="maincontent"/><table class="ou-" data-snippet="ou-intro"><caption>Introductory Text</caption>
		<tbody>
			<tr>
				<th>Decorative Title</th>
				<td data-type="text">Decorative Text</td>
			</tr>
			<tr>
				<th>Title</th>
				<td data-type="text">Introductory Text</td>
			</tr>
			<tr>
				<th>Body</th>
				<td data-type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam magna, interdum molestie vehicula non, sodales ac libero. Nunc et pharetra ipsum. Etiam commodo massa at felis pulvinar scelerisque a eget magna. Etiam nec sagittis nibh.</td>
			</tr>
		</tbody>
		</table>
		<table class="ou-" data-snippet="ou-image-grid"><caption>Image Grid</caption>
			<thead>
				<tr>
					<th>Image</th>
					<th>Caption</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-type="image"><img class="" src="/_resources/images/slider-image-2.jpg" alt="Teacher" width="1823" height="1217" /></td>
					<td data-type="text">Image &amp; Text</td>
				</tr>
				<tr>
					<td data-type="image"><img class="" src="/_resources/images/slider-image-3.jpg" alt="Lab" width="1823" height="1216" /></td>
					<td data-type="text">Image &amp; Text</td>
				</tr>
				<tr>
					<td data-type="image"><img class="" src="/_resources/images/news-placeholder-5.jpg" alt="Charts" width="859" height="559" /></td>
					<td data-type="text">Image &amp; Text</td>
				</tr>
				<tr>
					<td data-type="image"><img class="" src="/_resources/images/grid-image-6.jpg" alt="Student" width="1823" height="1216" /></td>
					<td data-type="text">Image &amp; Text</td>
				</tr>
				<tr>
					<td data-type="image"><img class="" src="/_resources/images/news-placeholder-3.jpg" alt="servers" width="1700" height="1129" /></td>
					<td data-type="text">Image &amp; Text</td>
				</tr>
				<tr>
					<td data-type="image"><img class="" src="/_resources/images/news-placeholder-4.jpg" alt="Volunteers" width="1823" height="1217" /></td>
					<td data-type="text">Image &amp; Text</td>
				</tr>
			</tbody>
		</table></ouc:div>

	<ouc:div label="subcontent" group="Everyone" button-text="Sub-Content"><ouc:editor csspath="/_resources/ou/editor/wysiwyg.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="full-width"/><table class="ou-" data-snippet="ou-two-boxes"><caption>Two White Boxes with Images</caption>
		<tbody>
			<tr>
				<th>Headline</th>
				<td colspan="2">Two White Boxes with Images</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<th>Box 1</th>
				<th>Box 2</th>
			</tr>
			<tr>
				<th>Heading</th>
				<td data-type="text">Heading Box 1</td>
				<td data-type="text">Heading Box 2</td>
			</tr>
			<tr>
				<th>Body</th>
				<td data-type="text">Cras tincidunt lectus ac quam ultrices posuere. Duis pretium commodo risus vel posuere. Sed elit dolor, dapibus vel sapien vel, rutrum malesuada diam</td>
				<td data-type="text">Cras tincidunt lectus ac quam ultrices posuere. Duis pretium commodo risus vel posuere. Sed elit dolor, dapibus vel sapien vel, rutrum malesuada diam</td>
			</tr>
			<tr>
				<th>Call to Action Button</th>
				<td data-type="link"><a href="#" target="_blank">Button</a></td>
				<td data-type="link"><a href="#">Button</a></td>
			</tr>
			<tr>
				<th>Images</th>
				<td data-type="image"><img class="" src="/_resources/images/grid-image-5.jpg" alt="Students" width="1823" height="1215" /></td>
				<td data-type="image"><img class="" src="/_resources/images/news-placeholder-1.jpg" alt="Studying" width="1823" height="1215" /></td>
			</tr>
		</tbody>
		</table>
		<p>&nbsp;</p>
		<table class="ou-" data-snippet="ou-row"><caption>Row Content</caption>
			<tbody>
				<tr>
					<td>
						<h2 class="font-size-xl font-weight-light text-center mt-5 mb-5">What type of student are you?</h2>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="ou-" data-snippet="ou-cards"><caption>Cards</caption>
			<thead>
				<tr>
					<th>Title</th>
					<th>Body</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody>
				<tr data-name="item">
					<td data-snippet="text" data-name="heading">&nbsp;
						<h3>First-time Freshmen</h3>
					</td>
					<td data-snippet="wysiwyg" data-type="wysiwyg" data-name="content">&nbsp;
						<ul>
							<li><a>Admission Requirements</a></li>
							<li><a>Deadlines for Admission</a></li>
							<li><a>New Student Orientation</a></li>
							<li><a>Request Information</a></li>
						</ul>
					</td>
					<td data-snippet="image" data-name="image" data-type="image"><img class="" src="/_resources/images/freshman.jpg" alt="freshman" width="1698" height="1131" /></td>
				</tr>
				<tr data-name="item">
					<td data-snippet="text" data-name="heading">&nbsp;
						<h3>Graduate</h3>
					</td>
					<td data-snippet="wysiwyg" data-type="wysiwyg" data-name="content">&nbsp;
						<ul>
							<li><a>Admission Requirements</a></li>
							<li><a>Deadlines for Admission</a></li>
							<li><a>New Student Orientation</a></li>
							<li><a>Request Information</a></li>
						</ul>
					</td>
					<td data-snippet="image" data-name="image" data-type="image"><img class="" src="/_resources/images/student.jpg" alt="Graduate" width="849" height="565" /></td>
				</tr>
				<tr data-name="item">
					<td data-snippet="text" data-name="heading">&nbsp;
						<h3>International</h3>
					</td>
					<td data-snippet="wysiwyg" data-type="wysiwyg" data-name="content">&nbsp;
						<ul>
							<li><a>Admission Requirements</a></li>
							<li><a>Deadlines for Admission</a></li>
							<li><a>New Student Orientation</a></li>
							<li><a>Request Information</a></li>
						</ul>
					</td>
					<td data-snippet="image" data-name="image" data-type="image"><img class="" src="/_resources/images/international.jpg" alt="International Students" width="1823" height="1215" /></td>
				</tr>
			</tbody>
		</table></ouc:div>


	<ouc:div label="full-width-content" group="Everyone" button-text="Full-width Content"><ouc:editor csspath="/_resources/ou/editor/wysiwyg.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="full-width"/><table class="ou-" data-snippet="ou-full-width-feature"><caption class="mceNonEditable">Full-Width Feature</caption>
		<tbody>
			<tr>
				<th>Heading</th>
				<td data-type="text"><a href="#">EXCELLENCE</a></td>
			</tr>
			<tr>
				<th>Sub-heading</th>
				<td data-type="text">From the Classroom to Competition</td>
			</tr>
			<tr>
				<th>Description</th>
				<td data-type="text">See how you will excel through scholarship, research, athletics and other competition.</td>
			</tr>
			<tr>
				<th>Call to Action</th>
				<td data-type="link"><a href="#" target="_blank">Read More</a></td>
			</tr>
			<tr>
				<th>Image</th>
				<td data-type="image"><img class="" src="/_resources/images/grid-image-1.jpg" alt="Volunteers" width="1823" height="1215" /></td>
			</tr>
			<tr>
				<th>Image Alignment</th>
				<td data-select-list="feature-alignment">Left</td>
			</tr>
		</tbody>
		</table>
		<table class="ou-" data-snippet="ou-full-width-feature"><caption class="mceNonEditable">Full-Width Feature</caption>
			<tbody>
				<tr>
					<th>Heading</th>
					<td data-type="text">COMMUNITY</td>
				</tr>
				<tr>
					<th>Sub-heading</th>
					<td data-type="text">More Ways to Learn</td>
				</tr>
				<tr>
					<th>Description</th>
					<td data-type="text">Read how you will join Gallena University&rsquo;s students engaged in educational experiences that strengthen and enrich our communities.</td>
				</tr>
				<tr>
					<th>Call to Action</th>
					<td data-type="link"><a href="#">Read More</a></td>
				</tr>
				<tr>
					<th>Image</th>
					<td data-type="image"><img class="" src="/_resources/images/grid-image-2.jpg" alt="Students Studying" width="1823" height="1215" /></td>
				</tr>
				<tr>
					<th>Image Alignment</th>
					<td data-select-list="feature-alignment">Right</td>
				</tr>
			</tbody>
		</table>
		<table class="ou-" data-snippet="ou-full-width-feature"><caption class="mceNonEditable">Full-Width Feature</caption>
			<tbody>
				<tr>
					<th>Heading</th>
					<td data-type="text">AFFORDABILITY</td>
				</tr>
				<tr>
					<th>Sub-heading</th>
					<td data-type="text">Nationally Recognized for Affordability</td>
				</tr>
				<tr>
					<th>Description</th>
					<td data-type="text">Learn more about Gallena University&rsquo;s nationally recognized affordability and the financial assistance available to you.</td>
				</tr>
				<tr>
					<th>Call to Action</th>
					<td data-type="link"><a href="#">Read More</a></td>
				</tr>
				<tr>
					<th>Image</th>
					<td data-type="image"><img class="" src="/_resources/images/grid-image-3.jpg" alt="Laptop" width="1823" height="1217" /></td>
				</tr>
				<tr>
					<th>Image Alignment</th>
					<td data-select-list="feature-alignment">Left</td>
				</tr>
			</tbody>
		</table>
		<table class="ou-" data-snippet="ou-testimonials"><caption class="mceNonEditable">Testimonials</caption>
			<thead>
				<tr>
					<th>Name</th>
					<th>Title</th>
					<th>Description</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-type="text">Jane Doe</td>
					<td data-type="text">Title</td>
					<td data-type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac auctor eros, id gravida libero. Proin elit tellus, sollicitudin et ultrices a, hendrerit efficitur enim. Etiam pulvinar et risus nec pulvinar. Morbi eget enim scelerisque, imperdiet ligula sit amet, porta enim. Ut eros quam, venenatis at placerat.</td>
					<td data-type="image"><img class="" src="/_resources/images/testimonial-image-1.jpg" alt="Susan" width="237" height="241" /></td>
				</tr>
				<tr>
					<td data-type="text">Jane Doe</td>
					<td data-type="text">Title</td>
					<td data-type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac auctor eros, id gravida libero. Proin elit tellus, sollicitudin et ultrices a, hendrerit efficitur enim. Etiam pulvinar et risus nec pulvinar. Morbi eget enim scelerisque, imperdiet ligula sit amet, porta enim. Ut eros quam, venenatis at placerat.</td>
					<td data-type="image">&nbsp;<img class="" src="/_resources/images/faculty-lidon-hill.jpg" alt="Lidon" width="201" height="201" /></td>
				</tr>
				<tr>
					<td data-type="text">John Doe</td>
					<td data-type="text">Title</td>
					<td data-type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac auctor eros, id gravida libero. Proin elit tellus, sollicitudin et ultrices a, hendrerit efficitur enim. Etiam pulvinar et risus nec pulvinar. Morbi eget enim scelerisque, imperdiet ligula sit amet, porta enim. Ut eros quam, venenatis at placerat.</td>
					<td data-type="image"><img class="" src="/_resources/images/faculty-ferris-bui.jpg" alt="Ferris" width="201" height="201" /></td>
				</tr>
			</tbody>
		</table></ouc:div>







	<ouc:div label="side-content" group="Everyone" button-text="Side Content">
		<ouc:editor csspath="/_resources/ou/editor/wysiwyg.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="additional-content"/>

	</ouc:div>

</document>