<!-- ouc:editor csspath="/_resources/ou/editor/nav.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="navigation" -->
<!--<li><a href="<!--%echo var='directory/' -->"><!--%echo var="friendly-name" --></a></li>-->